* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(https://images.unsplash.com/photo-1599422174180-87db8b05f661?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
}   
.container {
    
    text-align: center;
    width: 300px;
    margin: 60px auto;
    
}

img {
    width: 40%;
    border-radius: 50%;
    border: solid 4px rgb(172, 7, 172);
    transition: 300ms;
}

img:hover{
    opacity: 0.6;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 25px;
}

                /*estudar text-shadow css*/
                /* as cores são hexadecimais, que vão de 0 a F */


h2 {
    font-size: 22;
    margin-top: 10px;
    transition: 200ms;
    color: whitesmoke;
      text-shadow: 
               -1px -1px 0px rgb(172, 7, 172), 
               -1px 1px 0px rgb(172, 7, 172),      
                1px -1px 0px rgb(172, 7, 172),    
                1px 0px 0px rgb(172, 7, 172);
                /*estudar text-shadow css*/
}

h2:hover{
    opacity: 0.7;
}

h4 {
    margin-top: 7px;
    color: black;
      text-shadow: 
               -1px -1px 0px #FFF, 
               -1px 1px 0px #FFF,      
                1px -1px 0px #FFF,    
                1px 0px 0px #FFF;
    opacity: 0.9;
                /*estudar text-shadow css*/
}

footer {
    margin-top: 7px;
    margin-bottom: 7px;
    color: whitesmoke;
    text-shadow: 
             -1px -1px 0px rgb(172, 7, 172), 
             -1px 1px 0px rgb(172, 7, 172),      
              1px -1px 0px rgb(172, 7, 172),    
              1px 0px 0px rgb(172, 7, 172);
              opacity: 0.8;
              /*estudar text-shadow css*/
}
ul li a  {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(116, 1, 151);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-display: bold;
    margin-bottom: 11px;
    border-radius: 6px;
    transition: background 200ms;
}

/*pseudo-class */
ul li a:hover {
    background: rgb(64, 1, 70);
}